@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 180 40% 98%;
  --foreground: 180 10% 10%;
  --card: 180 25% 98%;
  --card-foreground: 180 10% 10%;
  --popover: 180 45% 98%;
  --popover-foreground: 180 10% 10%;
  --primary: 160 84% 39%;
  --primary-foreground: 160 100% 97%;
  --secondary: 180 59% 84%;
  --secondary-foreground: 180 10% 10%;
  --muted: 180 25% 96%;
  --muted-foreground: 180 5% 40%;
  --accent: 142 71% 45%;
  --accent-foreground: 142 100% 97%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 180 20% 88%;
  --input: 180 20% 88%;
  --ring: 160 84% 39%;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 180 50% 3%;
    --foreground: 180 10% 98%;
    --card: 180 50% 5%;
    --card-foreground: 180 10% 98%;
    --popover: 180 45% 3%;
    --popover-foreground: 180 10% 98%;
    --primary: 160 84% 39%;
    --primary-foreground: 160 100% 97%;
    --secondary: 180 30% 15%;
    --secondary-foreground: 180 10% 98%;
    --muted: 180 30% 15%;
    --muted-foreground: 180 5% 65%;
    --accent: 142 71% 45%;
    --accent-foreground: 142 100% 97%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 50% 15%;
    --input: 180 50% 15%;
    --ring: 160 84% 39%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
